<form [formGroup]="form">
    <mat-form-field>
        <input formControlName="id" placeholder="id" matInput type="text">
    </mat-form-field>
    <mat-form-field>
        <input formControlName="title" placeholder="title" matInput type="text">
    </mat-form-field>
    <mat-form-field>
        <input formControlName="price" placeholder="price" matInput type="number">
    </mat-form-field>
    <mat-form-field>
        <input formControlName="image" placeholder="image" matInput type="text">
    </mat-form-field>
    <mat-form-field>
        <input formControlName="description" placeholder="description" matInput type="text">
    </mat-form-field>
</form>
