<mat-toolbar color="primary" class="footer-container" 
  ><div class="row around-xs footer-container">
    <div class="col-xs-2">
      <div class="box">
        <ul>
          <h3 mat-button><a href="">Products</a></h3>
          <li mat-button><a href="">Nuevos productos</a></li>
          <li mat-button>En oferta</li>
          <li mat-button>Últimos productos</li>
        </ul>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="box">
        <ul>
          <h3>About Us</h3>
          <li>Details</li>
          <li>La tienda</li>
        </ul>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="box">
        <ul>
          <h3>Contact</h3>
          <li><button mat-raised-button disabled>Mail</button></li>
        </ul>
      </div>
    </div>
  </div></mat-toolbar
>

<!-- <mat-toolbar color="primary" class="footer-container">
    <mat-toolbar-row>
        <div  class="row around-xs ">
            <div class="col-xs-2">  <ul >
                <h3  mat-button> <a href="">Products</a></h3>
                <li  mat-button><a href="">Nuevos productos</a></li>
                <li  mat-button>En oferta</li>
                <li  mat-button>Últimos productos</li>
            </ul></div>
            <div class="col-xs-2"> <ul >
                <h3>About Us</h3>
                <li>Details</li>
                <li>La tienda</li>
            </ul></div>
            <div class="col-xs-2">          <ul class="box">
                <h3> Contact</h3>
                <li><button mat-raised-button disabled >Mail</button></li>
            </ul></div>

        </div>
    </mat-toolbar-row>
</mat-toolbar> -->
