<div class=" footer"><div class="row center-xs">
  <div class="col-xs">
    <div class="box">
      <ul>    <h3 >Products</h3>
      <li ><a href="admin/products">Products table</a></li>
      <li ><a href="admin/products/create">Create product</a> </li>
    
      <li ><a href="products">Products</a> </li></ul>
  
    </div>
  </div>
  <div class="col-xs">
    <div class="box">
      <ul>
      <h3>About Us</h3>
      
      <li ><a href="about">Details</a> </li>
      
      <li ><a href="products">Store</a> </li> </ul>
    </div>
  </div>
  <div class="col-xs">
    <div class="box" mail>
      <ul>
      <h3>Contact</h3>

      <mat-form-field>
        <input matInput placeholder="write your email" [formControl]="emailField" type="email">
      </mat-form-field>
      <a href=""  mat-raised-button matBadgeColor="accent" [disabled]="emailField.invalid" (click)="sendMail()"
      ><mat-icon>mail</mat-icon>email</a>
      <p *ngIf="emailField.invalid && emailField.dirty">The email is not valid</p>
        
      </ul>
    </div>
  </div>
  
</div > <div class="copy"><p>Copyright 2021 © All rights reserved - Laura Schörken | <a href="contact">Contact</a> | <a href="products">Products</a></p></div> </div>


