<div class=" footer"><div class="row center-xs">
  <div class="col-xs">
    <div class="box">
      <ul>    <h3 >Products</h3>
      <li ><a href="products">Nuevos productos</a></li>
      <li ><a href="products">En oferta</a> </li>
    
      <li ><a href="products">Last products</a> </li></ul>
  
    </div>
  </div>
  <div class="col-xs">
    <div class="box">
      <ul>
      <h3>About Us</h3>
      
      <li ><a href="about">Details</a> </li>
      
      <li ><a href="products">Store</a> </li> </ul>
    </div>
  </div>
  <div class="col-xs">
    <div class="box" mail>
      <ul>
      <h3>Contact</h3>
      <a href="contact"  mat-raised-button matBadgeColor="accent"
      ><mat-icon>mail</mat-icon> send mail</a>
        
      </ul>
    </div>
  </div>
  
</div > <div class="copy"><p>Copyright 2021 © All rights reserved - Laura Schörken | <a href="contact">Contact</a> | <a href="products">Products</a></p></div> </div>


